* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.mobile {
  display: none;
}

section {
  width: 100%;
  margin-top: 3rem;
}

section h1 {
  font-size: 3rem;
  margin: 1.5rem auto;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 30%;
}

header {
  display: flex;
  flex-direction: column;
}


header .logo {
  margin: 20px 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: rgba(0, 0, 0, 1.0);
  padding: 1rem 0;
}


nav ul {
 list-style: none;
 text-transform: uppercase;
 display: flex;
 justify-content: space-around;
 flex-flow: row;
}

nav li {
  font-size: 2rem;
  padding: 0 1rem;
}

nav li:hover {
  border-left: 1px solid seashell;
  border-right: 1px solid seashell;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:rgba(201, 253, 246, 0.849);
}

/* section mission */



#mission .container {
  display: flex;
  max-width: 100%;
  min-height: 700px;
  color: rgba(252, 250, 250, 0.9);
  background-color: #ffffff;
  background-image: url('img/milkyway.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1rem 1rem 0 1rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

#mission .content {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

#mission h1, p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

#mission h1 {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  border: none;
}

/* equipment */


#equipment .container {
  display: flex;
  flex-wrap: wrap;
}

#equipment .box {
  flex: 1 1 30%;
  margin: 10px;
}

#equipment .alone {
  flex: 1 1 100%;
}

#equipment .box img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

/* section team */

#team {
  margin: 3rem 0;
}

#team .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#team .box {
  flex: 1 1 30%;
}

#team p {
  max-width: 60%;
  margin: 0 auto;
}

#team .box img {
  max-width: 90%;
  height: 200px;
  border-radius: 10px;
}

/* footer*/

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
}

footer .container {
  padding: 1rem 0;
}

footer .contact {
  margin: 1rem 0;
}

.contact h3{
  margin: 1rem 0;
  font-size: 1.5rem;
}
/*
@media only screen and (max-width:450px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: none;
    flex-direction: row;
    

  }

  .mobile .logo {
    width: 80px;
    height: 80px;
  }

  .mobile nav {
    background-color: white;
    background-image: url('./img/menu_icon.png');
    background-repeat: no-repeat;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    background-color: black;
    
  }

  .dropdown a {
    width: 200px;
  }

  
}
*/


